<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="http://www.i2cat.net/sites/default/files/favicon.ico">
<script src="/js/modernizr.custom.63321.js"></script>

<title>UltraGrid GUI</title>

<!-- Bootstrap core CSS -->
<link href="/bs/dist/css/bootstrap.css" rel="stylesheet">
<!-- Bootstrap theme -->
<link href="/bs/dist/css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/theme.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/dropdown.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="gui">

		<!-- header -->
		<div class="page-header" style="height:85px;">
			<h1 style="margin-left: 70px; padding-top: 20px;">
				UltraGrid GUI 
			</h1>

			<button id="play_button" type="submit" class="btn btn-success btn-sm"
				style="width:90px;margin-top: -70px;margin-left:1060px; margin-bottom: 0px;"></button>
			<button id="reset_button" type="submit" class="btn btn-danger btn-sm"
				style="width:90px;margin-top: -70px;margin-left:1060px;"><span class="glyphicon glyphicon-repeat"> Reset</button>
			<button id="start_button" type="submit" class="btn btn-primary btn-sm"
				style="width:90px;margin-top: -70px;margin-left:20px;"></button>
			<button id="setcontrol_button" type="submit" class="btn btn-success btn-sm"
				style="width:85px;margin-top: -110px;margin-left:765px;"><span class="glyphicon glyphicon glyphicon-wrench"> Set </span></button>
			<div class="form-group" style="width:70px;height:15px;margin-left:680px; margin-top: -80px;">
				<input id="setcontrol_input" type="text" class="form-control" style="text-align:center;" placeholder="5054"></input>
			</div>
			<div id="setcontrol_label"  class="form-group" style="margin-top:-24px;margin-left: 565px;" >
				<span class="label label-default" style="padding-top:8px;padding-bottom:10px;font-size: 14px;"> Control port: </span>
			</div>
		</div>
		
		<!-- {:have_uv=>true, :checked_local=>false, :checked_remote=>false, 
		:uv_running=>false, :got_params=>false, :uv_params=>"", :uv_play=>false, :uv_vbcc=>false, 
		:host=>"127.0.0.1", :port=>5054, :o_fps=>0, :o_br=>0, :o_size=>"0x0", 
		:c_fps=>0, :c_br=>0, :c_size=>"0x0", :losses=>0} -->
		
		<!--  interface -->
		<div class="row" id="configurationRow" style="margin-left: 0px; margin-bottom: -20px;">
			<!--  source select -->
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						
						<span id="mediaType" class="label label-default"
							style="margin-left: -5px; font-size: 14px;">Media</span>
						<span id="inputCol" class="label label-default"
							style="margin-left: 35px; font-size: 14px;">Input</span> 
						<span id="modeCol" class="label label-default"
							style="margin-left: 55px; font-size: 14px;">Mode</span>
						<span id="fecCol" class="label label-default"
							style="margin-left: 60px; font-size: 14px;">FEC</span>
						<span id="ipCol" class="label label-default"
							style="margin-left: 47px; font-size: 14px;">destination IP</span>
						<span id="txPortCol" class="label label-default"
							style="margin-left: 15px; font-size: 14px;">Tx Port</span>
						<span id="rxPortCol" class="label label-default"
							style="margin-left: 5px; font-size: 14px;">Rx Port</span>
					</div>
					<!-- VIDEO SOURCE CONFIG-->
					<div class="panel-body" id="videoConfig">
							<form class="form-inline" role="form" style="margin-left:-10px; margin-top:-5px;">
								<span class="label label-default"
									style="margin-left: 5px; font-size: 14px;">Video</span>
								<div class="form-group" style="margin-left:12px;">
									<div class="fleft">
										<select id="cd-dropdown-video-input" class="cd-select" onchange="check_input();">
											<option value="-1" selected>undefined</option>
											<option value="1">decklink</option>
											<option value="2">v4l2</option>
											<option value="3">testcard</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="fleft" style="margin-left:5px;">
										<select id="cd-dropdown-video-mode" class="cd-select">
											<option value="-1" selected>undefined</option>
											<option value="1">1080i 50</option>
											<option value="2">720p 50</option>
											<option value="3">1080p 25</option>
										</select>
									</div>
								</div>
								<div class="form-group" style="margin-left:5px;">
									<div class="fleft">
										<select id="cd-dropdown-video-fec" class="cd-select">
											<option value="-1" selected>undefined</option>
											<option value="1">ON</option>
											<option value="2">OFF</option>
										</select>
									</div>
								</div>	
							  <div class="form-group" style="width:135px;">
							    <input type="text" class="form-control" id="videoIP" style="text-align:center;" placeholder="127.0.0.1">
							  </div>
							  <div class="form-group" style="width:70px;">
							    <input type="text" class="form-control" id="videoTxPort" style="text-align:center;" placeholder="5004">
							  </div>
							  <div class="form-group" style="width:70px;">
							    <input type="text" class="form-control" id="videoRxPort" style="text-align:center;" placeholder="5004">
							  </div>
							  <div class="checkbox" style="margin-left:5px;width:100px;">
							    <label>
							      <input type="checkbox" id="enable_video"> Enable video
							    </label>
							  </div>
							</form>	


					</div>
					<!-- AUDIO SOURCE CONFIG-->
					<div class="panel-body" id="audioConfig">
						<form class="form-inline" role="form" style="margin-left:-10px; margin-top:-15px;">
							<span class="label label-default"
								style="margin-left: 3px; font-size: 14px;">Audio</span>
								<div class="form-group" style="margin-left:12px;">
									<div class="fleft">
										<select id="cd-dropdown-audio-input" class="cd-select">
											<option value="-1" selected>undefined</option>
											<option value="1">alsa</option>
											<option value="2">embedded</option>
											<option value="3">analog</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="fleft" style="margin-left:5px;">
										<select id="cd-dropdown-audio-mode" class="cd-select">
											<option value="-1" selected>undefined</option>
											<option value="1">48kHz 2ch. (PCM)</option>
											<option value="2">8kHz 1ch. (PCM)</option>
											<option value="1">48kHz 2ch. (codec: OPUS)</option>
											<option value="2">8kHz 1ch. (codec: OPUS)</option>
										</select>
									</div>
								</div>
								<div class="form-group" style="margin-left:5px;">
									<div class="fleft">
										<select id="cd-dropdown-audio-fec" class="cd-select">
											<option value="-1" selected>undefined</option>
											<option value="1">ON</option>
											<option value="2">OFF</option>
										</select>
									</div>
								</div>

							<div class="form-group" style="width:135px;">
							    <input type="text" class="form-control" id="audioIP" style="text-align:center;" placeholder="127.0.0.1">
							  </div>
							  <div class="form-group" style="width:70px;">
							    <input type="text" class="form-control" id="audioTxPort" style="text-align:center;" placeholder="5006">
							  </div>
							  <div class="form-group" style="width:70px;">
							    <input type="text" class="form-control" id="audioRxPort" style="text-align:center;" placeholder="5006">
							  </div>
							  <div class="checkbox" style="margin-left:5px;width:100px;">
							    <label>
							      <input type="checkbox" id="enable_audio"> Enable audio
							    </label>
							  </div>
						</form>		
					</div>
				</div>

			</div>
			<!--  local check-->
			<div class="col-md-2" id="localCheck" style="margin-left: -15px;">
				<div class="panel panel-default" style="">
					<div class="panel-heading">
						<center>
							<h5>
								<b>Local Config. Check</b>
							</h5>
						</center>
					</div>
					<div class="panel-body">
						<button id="localCheckButton" type="button"
							class="btn btn-default btn-lg" style="font-size: 14px;">
							<span class="glyphicon glyphicon-cog"></span> Check
						</button>
						<span id="localCheckButtonSuccess"
							class="glyphicon glyphicon-question-sign"
							style="font-size: 30px; top: 10px; left: 20px; color: green;"></span>
					</div>
				</div>
			</div>

			<!--  connectivity-->
			<div class="col-md-2" id="connectivityCheck">
				<div class="panel panel-default" style="margin-left: -20px;">
					<div class="panel-heading">
						<center>
							<h5>
								<b>Connectivity Check</b>
							</h5>
						</center>
					</div>
					<div class="panel-body">
						<button id="connectivityCheckButton" type="button"
							class="btn btn-default btn-lg" style="font-size: 14px;">
							<span class="glyphicon glyphicon-flash"></span> Connect
						</button>
						<span id="connectivityCheckButtonSuccess"
							class="glyphicon glyphicon-question-sign"
							style="font-size: 30px; top: 10px; left: 20px; color: green;"></span>
					</div>
				</div>
			</div>
		</div>
		
		<hr noshade>

		<!-- video -->
		<div class="row" id="videoParams"
			style="margin-left: 0px; margin-bottom: -20px;">
			<div class="col-md-4" id="videoParams_setMode" style="margin-right: 5px;">
				<div class="panel panel-default" style="">
					<div class="panel-heading" style="text-align:center;">
						<b>Video: </b>
						<div class="btn-group" style="margin-left: 33px;">
						<div class="fleft">
							<select id="cd-dropdown-video-cc" class="cd-select" onchange="check_ccmode();">
								<option value="-1" selected>Set control mode (default:manual)</option>
								<option value="1">Manual</option>
								<option value="2">Automatic</option>
							</select>
						</div>
						</div>
					</div>
					<div class="panel-body">
						<span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;">Parameter</span> 
						<span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;">Original Value</span>

					</div>
					<div class="panel-body" style="margin-top: -17px;">
						<span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;">Resolution</span> 
						<div id="ovres"><span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;"></span></div>

					</div>
					<div class="panel-body" style="margin-top: -15px;">
						<span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;">Frame rate</span>
						<div id="ovfps"><span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;"></span></div>

					</div>
					<div class="panel-body" style="margin-top: -15px;">
						<span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;">Bit rate</span> 
						<div id="ovbr"><span class="label label-default col-lg-4"
							style="margin-left: 30px; font-size: 14px;"></span></div>
					</div>
				</div>
			</div>
			<div class="col-md-3" id="videoParams_setParams" style="margin-left: -15px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<center>
							<b>Manual control configuration </b>
						</center>
					</div>
					<div class="panel-body" style="margin-top: -4px;">
						<span class="label label-default col-lg-4"
							style="margin-top: 7px; font-size: 14px;">Resolution </span>
						<div class="btn-group" style="margin-left: 10px;">
							<button type="button" class="btn btn-default">1:1</button>
							<button type="button" class="btn btn-default active">1:2</button>
							<button type="button" class="btn btn-default">1:4</button>
						</div>
					</div>
					<div class="panel-body" id="framerateManual" style="margin-top: -15px;">
						<span class="label label-default col-lg-4"
							style="margin-top: 7px; font-size: 14px;">Frame rate </span>
						<div class="btn-group" style="margin-left: 10px;">
							<button type="button" class="btn btn-default active">1:1</button>
							<button type="button" class="btn btn-default">1:2</button>
							<button type="button" class="btn btn-default">1:4</button>
						</div>
					</div>
					<div class="panel-body" id="bitrateManual" style="margin-top: -15px;">
						<span class="label label-default col-lg-4"
							style="margin-top: 7px; font-size: 14px;">Bit rate </span>
						<div class="btn-group" style="margin-left: 10px;">
							<button type="button" class="btn btn-default active">1:1</button>
							<button type="button" class="btn btn-default">1:2</button>
							<button type="button" class="btn btn-default">1:4</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5"
				style="margin-left: -5px;">
				<div class="panel panel-default;">
					<div class="panel-heading">
						<center>
							<b>Current status </b>
						</center>
					</div>
					<div class="panel-body" style="height:168px;margin-top: -10px;">
						<span class="label label-default col-lg-2"
							style="margin-left: 45px; font-size: 14px;text-align: center;">Video</span>
						<span class="label label-default col-lg-2"
							style="margin-left: 65px; font-size: 14px;text-align: center;">Audio</span>
						<span class="label label-default col-lg-2"
							style="margin-left: 70px; font-size: 14px;text-align: center;">Losses</span>
						<table class="table" style="margin-bottom: -11px;">
							<tr>
								<td style="text-align: center; width: 160px">
										<div id="cvres">
										</div>
									</td>
								<td style="text-align: center; width: 160px"> 
										<div id="casr">
										</div>
									</td>
								<td>
									<div id="clos_t" >
										<span style="margin-left:35px;text-align: center; width: 160px">0.00 %</span>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: center; width: 160px">
										<div id="cvfps">
										</div>
									</td>
								<td style="text-align: center; width: 160px">
										<div id="cach">
										</div>
									</td>
								<td>
									<div id="clos_g" >
										<span class="glyphicon glyphicon-thumbs-up"
											style="margin-left:30px;font-size: 20px; top: 0px; left: 15px; color: green;"></span>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: center; width: 160px">
										<div id="cvbr">
										</div>
									</td>
								<td style="text-align: center; width: 160px">
										<div id="cabr">
										</div>
									</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/bs/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.dropdown.js"></script>
	<script src="/bs/dist/js/bootstrap.min.js"></script>
	<script src="/bs/assets/js/holder.js"></script>
	<script src="/js/utils.js"></script>
	<script src="/js/app.js"></script>
	<script type="text/javascript">
		$( function() {	
			$( '#cd-dropdown-video-cc' ).dropdown();
		});
	</script>
	<script type="text/javascript">
		function check_input(){
			if($('#cd-dropdown-video-input').find(":selected").text() == "v4l2"){
				$('#cd-dropdown-video-mode').removeClass('is-enabled');
				$('#cd-dropdown-video-mode').addClass('is-disabled');
			} else {
				$('#cd-dropdown-video-mode').removeClass('is-disabled');
				$('#cd-dropdown-video-mode').addClass('is-enabled');
			}
		}
		function check_ccmode(){
 			switch($('#cd-dropdown-video-cc').find(":selected").val()){
 			case "1":
 				set_cc_mode("manual");
 				break;
 			case "2":
 				set_cc_mode("auto");
 				break;
 			default:
 				set_cc_mode("manual");
 				break;
 			}
		}
		
		//CONGESTION CONTROL SETUP
		function set_cc_mode(mode){
			$.ajax({
				type : 'POST',
				url : '/ultragrid/gui/ccontrol',
				data : "mode="+mode,
				async : false,
				success: function(msg){
					console.log(msg);
					state = msg;
					process_state();
				},
				error: function(xhr, msg) { 
					console.log('ERROR: '+msg + '\n' + xhr.responseText);
				}
			});
		}
	</script>
</body>
</html>

